*{
	margin: 0px;
	padding: 0px;
}
h1{
	font:  bold 20px verdana, sans-serif;
}
h2{
	font:  bold 14px verdana, sans-serif;
}
header, section, footer, aside, nav, article, figure, figcaption, hgroup{
	display: block;
}
body{
	text-align: center;
}

.agrupar{
	width: 960px;
	margin: 15px auto;
	text-align: left;
	border: 1px solid black;
	background: #E5E5E5;
}
.cabecera{
	background: #055591;
	border: 1px solid black;
	padding: 20px;
	text-align: center;
	height: 30px;
}
.cabecera h1{
	color: #FFFFFF;

}
.cabecera img{
	position: relative;
	float: left;
	top: -5px;
}

.menu{
	background: #d7edbb;
	padding: 5px 15px;

}
.menu li{
	display: inline-block;
	list-style: none;
	padding: 5px; 
	font: bold 14px verdana, sans-serif ;
	margin-right: 40px;
}
.menu li a{
	color: #72a52b;
	display: block;
	font-size: 15px;
	text-decoration: none;
}
.menu li a:hover{
	text-decoration: underline;
	color: red;
}
#seccion{
	float: left;
	width: 660px;
	margin: 20px;
}
#seccion-centrado{
	float: left;
	width: 660px;
	margin: 20px 16%;
}

.columna{
	float: left;
	width: 220px;
	margin: 20px 0px;
}	
.link-list li{
	list-style: none;
}
.link-list li a{
	border-bottom: 1px solid #CBE4AA;
	color: #79ab34;
	display: block;
	padding: 7px 2px;
	text-decoration: none;
	list-style: none;
}
.link-list li a:hover{
	border-bottom: 1px solid #79ab34;
	color: #000;
}
.pie{
	clear: both;
	text-align: center;
	border-top: 2px solid black;
	padding: 20px;
	color: #FFFFFF;
	background: #3DA4F0;
}
article{
	border: 1px solid black;
	padding: 20px;
	margin-bottom: 15px;
	background: #FFFBCC;
}
article footer{
	text-align: right;
}
time{
	color: #999999;
}
figcaption{
	font: italic 14px verdana, sans-serif;
}
.pie a img{
	position: relative;
	float: left;
	top: -10px;
}