html{
	background-size: cover;
    min-height: 100%;
}
.color{
	background: #C8F4F0;
}
.colorTextoSilver{
	color: rgb(224, 224, 224);
	outline-color: white;
}
.colorDivBienvenida{
	background: linear-gradient(-180deg, rgb(34, 34, 34) 10%, rgb(0,0,0) 100%);
}
.grad1{
    background: linear-gradient(-240deg, rgb(0, 0, 0) 5%, rgb(160, 17, 83) 40%, rgb(20, 0, 113) 93% );

}
/*#9370DB*/
.formulario{
	margin: 90px auto 0;
	border-radius: 20px;
}
.sombraForm{
	box-shadow:  10px 10px 40px rgb(22, 22, 22);
}
.colorBoton{
	background-color: rgb(50, 158, 145);
}
.colorBorderBottomLight{
	border-radius: 0%;
	border-bottom: 1px lightgray solid;

}
.tamTxtbox{
	width: 20px;
}






.navbar{
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    min-height: 100px;
}
.nav-link{
    /*color: #1a1a1a;*/
}
.nav-link:hover{
    color: #1a1a1a;
}

.oBtn{
    font-size: 14px;
    padding: 26px;
    min-width: 160px;
    border-radius: 2px;
    display: inline-block;
}

.oBtn-light{
    background-color: #ffffff;
    color: black;
    border: 2px solid #ffffff;
}

.navbar-toggler{font-size: 40px;}

.navbar-toggler:focus{outline: none;}



#hero{
    background-image: url('../IMG/col.jpg');
    background-size: cover;
    padding-top: 90px;
    min-height: 700px;
    color: #ffffff;
}

.productos img{
    height: auto; width: 80%; display: block;
}

.individual img{
    height: auto; width: 90%; display: block;
}

.mosaico{
    height: auto; 
    width: 85%; 
    display: block;
    margin:auto;
}

.margTop{
    margin-top:83px
}

.margDes{
    margin-top:40px
}

.marL{
    padding-left: 40px;
    padding-right: 40px;
}

.marIni{
    padding-left: 60px;
    padding-right: 60px;
}

.productosIndi{
    margin-top: 50px;
    margin-bottom: 50px;
}

@media (max-width: 575.98px) {
    h1, h2, h3{font-size: 40px;
        line-height: normal;
    }
}

.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}



#sticky-footer {
    flex-shrink: none;
}

.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

.perrito{
    width: 46%;
    margin: auto;
    display: block;
}


:root{
    --color-burger: #f19e00;
}

body{
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

.navbar{
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    min-height: 100px;
}

.nav-link{
    color: #000000;
}

nav .navbar-nav li a{
    /*color: black !important;*/
}

.bg-burger{
    background-color: var(--color-burger) !important;
}



.nav-link:hover{
    color: #000000;
}

.navbar-toggler{font-size: 40px;}

.navbar-toggler:focus{outline: none;}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

.margTop{
    margin-top:83px
}

.margDes{
    margin-top:40px
}

.marL{
    padding-left: 40px;
    padding-right: 40px;
}

.marIni{
    padding-left: 60px;
    padding-right: 60px;
}


@media (max-width: 575.98px) {
    h1, h2, h3{font-size: 40px;
        line-height: normal;
    }
}

.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}



#sticky-footer {
    flex-shrink: none;
    background-color: #000000;
}

.category-description {
    top: 9%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carreaux_presentation_light
{
  display:table-cell;
  background-size:cover;
  overflow: hidden;
  position: relative;
}
.carreaux_presentation_light .shadow_swhow_mini
{
  background-color:rgba(19,30,33,0.4);
  position: absolute;
  z-index: 1000;
  top:0;left:0;right:0;bottom:0;
  
}
.carreaux_presentation_light:hover .shadow_swhow_mini
{
  background-color:rgba(16,23,41,0);
}
.carreaux_presentation_light .deroul_titre
{
  position: absolute;
  text-transform: uppercase;
  font-family: 'Roboto';
  padding: 7px;
  z-index: 1000;
  top:75%;left:-80%;
  color:#ffffff;
  font-weight: 300;
  font-size: 13px; width: 80%;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  transition: all 0.7s;

}
.carreaux_presentation_light:hover .deroul_titre
{
  background-color:#1e4944; left:0px;
  
}
.carreaux_presentation_light .deroul_soustitre
{
  position: absolute;
  font-family: 'Roboto';
  padding: 5px;
  z-index: 1000;
  top:75%;right:-95%;
  margin-top: 25px;
  color:#ffffff;
  font-weight: 300;
  font-size: 11px; width: 80%;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  transition: all 0.7s;
}
.carreaux_presentation_light:hover .deroul_soustitre
{
  background-color:#417c74;right:0px;
}