
.navbar{
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    min-height: 100px;
}
.nav-link{
    color: #1a1a1a;
}
.nav-link:hover{
    color: #1a1a1a;
}

.oBtn{
    font-size: 14px;
    padding: 26px;
    min-width: 160px;
    border-radius: 2px;
    display: inline-block;
}

.oBtn-light{
    background-color: #ffffff;
    color: black;
    border: 2px solid #ffffff;
}

.navbar-toggler{font-size: 40px;}

.navbar-toggler:focus{outline: none;}



#hero{
    background-image: url('../IMG/col.jpg');
    background-size: cover;
    padding-top: 90px;
    min-height: 700px;
    color: #ffffff;
}

.productos img{
    height: auto; width: 80%; display: block;
}

.individual img{
    height: auto; width: 90%; display: block;
}

.mosaico{
    height: auto; 
    width: 85%; 
    display: block;
    margin:auto;
}

.margTop{
    margin-top:83px
}

.margDes{
    margin-top:40px
}

.marL{
    padding-left: 40px;
    padding-right: 40px;
}

.marIni{
    padding-left: 60px;
    padding-right: 60px;
}

.productosIndi{
    margin-top: 50px;
    margin-bottom: 50px;
}

@media (max-width: 575.98px) {
    h1, h2, h3{font-size: 40px;
        line-height: normal;
    }
}

.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}



#sticky-footer {
    flex-shrink: none;
}

.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

.perrito{
    width: 46%;
    margin: auto;
    display: block;
}
