:root{
    --color-burger: #f19e00;
}

body{
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

.navbar{
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    min-height: 100px;
}

.nav-link{
    color: #000000;
}

nav .navbar-nav li a{
    color: black !important;
}

.bg-burger{
    background-color: var(--color-burger) !important;
}



.nav-link:hover{
    color: #000000;
}

.navbar-toggler{font-size: 40px;}

.navbar-toggler:focus{outline: none;}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

.margTop{
    margin-top:83px
}

.margDes{
    margin-top:40px
}

.marL{
    padding-left: 40px;
    padding-right: 40px;
}

.marIni{
    padding-left: 60px;
    padding-right: 60px;
}


@media (max-width: 575.98px) {
    h1, h2, h3{font-size: 40px;
        line-height: normal;
    }
}

.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}



#sticky-footer {
    flex-shrink: none;
    background-color: #000000;
}

.category-description {
    top: 9%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carreaux_presentation_light
{
  display:table-cell;
  background-size:cover;
  overflow: hidden;
  position: relative;
}
.carreaux_presentation_light .shadow_swhow_mini
{
  background-color:rgba(19,30,33,0.4);
  position: absolute;
  z-index: 1000;
  top:0;left:0;right:0;bottom:0;
  
}
.carreaux_presentation_light:hover .shadow_swhow_mini
{
  background-color:rgba(16,23,41,0);
}
.carreaux_presentation_light .deroul_titre
{
  position: absolute;
  text-transform: uppercase;
  font-family: 'Roboto';
  padding: 7px;
  z-index: 1000;
  top:75%;left:-80%;
  color:#ffffff;
  font-weight: 300;
  font-size: 13px; width: 80%;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  transition: all 0.7s;

}
.carreaux_presentation_light:hover .deroul_titre
{
  background-color:#1e4944; left:0px;
  
}
.carreaux_presentation_light .deroul_soustitre
{
  position: absolute;
  font-family: 'Roboto';
  padding: 5px;
  z-index: 1000;
  top:75%;right:-95%;
  margin-top: 25px;
  color:#ffffff;
  font-weight: 300;
  font-size: 11px; width: 80%;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  transition: all 0.7s;
}
.carreaux_presentation_light:hover .deroul_soustitre
{
  background-color:#417c74;right:0px;
}